---
layout: archive
author_profile: true
---
<section class="page__content" itemprop="text">
  <body link=#52adc8>
  <p> == $0
    <a href="#">Link Text</a>
  </p>
  </body>
</section>

[setid]: http://www.example.com
Hello to this [world](setid)

[click here to go to github.com!](http://github.com)
<br>
<br>
<br>
My favorite website is <a href="google.com">Google</a>.<br>
<br>
<br>
<br>
Previously, I have served as a behavioral scientist at the White House Social and Behavioral Sciences Team, the senior data scientist of the Democratic National Committee, and a decision scientist at The Walt Disney Company.

Before my professional career, I was a doctoral student conducting neuroimaging experiments to understand how people think about social groups. I am formally trained as an experimental psychologist in social neuroscience, with an AB in psychology from Princeton University and an AM and a PhD in psychology from Harvard University.

In my spare time, I have written about data science and neuroscience. Now, I am writing about the process of programming a Monopoly simulator.

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
