---
layout: archive
author_profile: true
---

<header><h1 class="page__title" itemprop="headline">About</h1></header>

<section class="page__content" itemprop="text">
  <p>In June, I am joining <a href="https://www.capitalone.com/" style="color: #52adc8">Capital One</a> as a principal data scientist.</p>
  <p>Previously, I served as a behavioral scientist at the
  <a href="https://www.sbst.gov/" style="color: #52adc8">White House Social and Behavioral Sciences Team</a>,
  a data scientist at the <a href="https://www.democrats.org/" style="color: #52adc8">Democratic National Committee</a>,
  and a decision scientist at <a href="https://www.thewaltdisneycompany.com/" style="color: #52adc8">The Walt Disney Company</a>.</p>
  <p>Before my professional career, I used neuroimaging to understand how people think about social groups (see 
  <a href="https://jm-contreras.github.io/publications/" style="color: #52adc8">Publications</a>). 
  I was formally trained as an experimental psychologist at
  <a href="https://www.princeton.edu/" style="color: #52adc8">Princeton University</a> and 
  <a href="https://www.harvard.edu/" style="color: #52adc8">Harvard University</a>.</p>
  <p>In my spare time, I help to lead 
  <a href="http://www.datakind.org/blog/datakind-dcs-latest-datadive" style="color: #52adc8">DataKind DC</a> 
  and program a <a href="https://www.pythonmonopoly.wordpress.com/" style="color: #52adc8">Monopoly simulator</a>. 
  I used to write about
  <a href="https://www.datapie.wordpress.com/" style="color: #52adc8">data science</a> and
  <a href="https://www.procneuro.wordpress.com/" style="color: #52adc8">neuroscience</a>.</p>
</section>

{% include base_path %}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3> -->

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
