---
layout: archive
author_profile: true
permalink: /publications/
---

<section class="page__content" itemprop="text">
  <p>Tamir, D. I., Thornton, M. A., <b>Contreras, J. M.</b>, & Mitchell, J. P. (2016). 
  Neural evidence that three dimensions organize mental state representation: Rationality, social impact, and valence. 
  <em>Proceedings of the National Academy of Sciences</em>, <em>113</em>(1), 194-199.</p>
  <p>Durante, F., Fiske, S. T., Kervyn, N., Cuddy, A. J. C., Akande, A., Adetoun, B. E., … Storari, C. C. (2013). 
  Nations’ income inequality predicts ambivalence in stereotype content: How societies mind the gap. 
  <em>British Journal of Social Psychology</em>, <em>52</em>(4), 726-746.</p>
  <p><b>Contreras, J. M.</b>, Schirmer, J., Banaji, M. R., & Mitchell, J. P. (2013). 
  Common brain regions with distinct patterns of neural responses during mentalizing about groups and individuals. 
  <em>Journal of Cognitive Neuroscience</em>, <em>25</em>(9), 1406-1417.</p>
  <p><b>Contreras, J. M.</b>, Banaji, M. R., & Mitchell, J. P. (2013). 
  Multivoxel patterns in fusiform face area differentiate faces by sex and race. 
  <em>PLOS ONE</em>, <em>8</em>(7), e69684.</p>
  <p><b>Contreras, J. M.</b>, Banaji, M. R., & Mitchell, J. P. (2012). 
  Dissociable neural correlates of stereotypes and other forms of semantic knowledge. 
  <em>Social Cognitive and Affective Neuroscience</em>, <em>7</em>(7), 764-770.</p>
</section>

{% include base_path %}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3> -->

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
