---
layout: single
author_profile: true
permalink: /publications.html
---

<header><h1 class="page__title" itemprop="headline">Peer-Reviewed</h1></header>

<section class="page__content" itemprop="text">
  <p>Tamir, D. I., Thornton, M. A., <b>Contreras, J. M.</b>, & Mitchell, J. P. (2016). 
  <a href="https://jm-contreras.github.io/publications/Contreras_PNAS_2015.pdf" style="color: #52adc8">Neural evidence that three dimensions organize mental state representation: Rationality, social impact, and valence.</a> 
  <em>Proceedings of the National Academy of Sciences</em>, <em>113</em>(1), 194-199.</p>
  <p>Durante, F., Fiske, S. T., Kervyn, N., Cuddy, A. J. C., Akande, A., Adetoun, B. E., … Storari, C. C. (2013). 
  <a href="https://jm-contreras.github.io/publications/Contreras_BJSP_2013.pdf" style="color: #52adc8">Nations’ income inequality predicts ambivalence in stereotype content: How societies mind the gap.</a> 
  <em>British Journal of Social Psychology</em>, <em>52</em>(4), 726-746.</p>
  <p><b>Contreras, J. M.</b>, Schirmer, J., Banaji, M. R., & Mitchell, J. P. (2013). 
  <a href="https://jm-contreras.github.io/publications/Contreras_JOCN_2013.pdf" style="color: #52adc8">Common brain regions with distinct patterns of neural responses during mentalizing about groups and individuals.</a> 
  <em>Journal of Cognitive Neuroscience</em>, <em>25</em>(9), 1406-1417.</p>
  <p><b>Contreras, J. M.</b>, Banaji, M. R., & Mitchell, J. P. (2013). 
  <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0069684" style="color: #52adc8">Multivoxel patterns in fusiform face area differentiate faces by sex and race.</a> 
  <em>PLOS ONE</em>, <em>8</em>(7), e69684.</p>
  <p><b>Contreras, J. M.</b>, Banaji, M. R., & Mitchell, J. P. (2012). 
  <a href="https://jm-contreras.github.io/publications/Contreras_SCAN_2012.pdf" style="color: #52adc8">Dissociable neural correlates of stereotypes and other forms of semantic knowledge.</a> 
  <em>Social Cognitive and Affective Neuroscience</em>, <em>7</em>(7), 764-770.</p>
</section>

<br><header><h1 class="page__title" itemprop="headline">Dissertation and Senior Thesis</h1></header>

<section class="page__content" itemprop="text">
  <p><b>Contreras, J. M.</b> (2013). <a href="https://jm-contreras.github.io/publications/Contreras_Dissertation.pdf" style="color: #52adc8">
	<em>A cognitive neuroscience of social groups</em></a>. (Doctoral dissertation). Retrieved from ProQuest Dissertations and Theses. (Accession Order No. 3566844).</p>
	<p><b>Contreras, J. M.</b> (2009). <a href="https://jm-contreras.github.io/publications/Contreras_SeniorThesis.pdf" style="color: #52adc8">
	<em>The self-other difference in free will perception</em></a>. (Senior thesis). Retrieved from Seeley G. Mudd Library, Princeton University.</p>
</section>


{% include base_path %}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3> -->

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
